{{!-- Plantilla para cartas --}}

<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <div class="center">
                <h5 class="card-title">{{item.titulo}}</h5>
                <p class="card-text">{{item.descripcion}}</p>
                <a href={{item.direccion}} class="btn btn-primary">Ir al curso</a>
            </div>
        </div>
    </div>
</div>
